//variables
    $color-footer:#110A03;
    $color-icono:#FFFAFC;
    $footer-height: 60px;
    $icono-size: 40px;
    $iconos-margin:5px;
#footer{
    grid-area: footer;
    width: 100%;
    background-color: $color-footer;
    height: $footer-height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
        background-color: $color-footer;
        height: 99%;
    }
}
.footer-icono{
    background-color: transparent;
    color: $color-icono;
    font-size: $icono-size;
    margin: $iconos-margin;
}