#footer{
    background-color: #110A03;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-icono{
    background-color: transparent;
    color: #FFFAFC;
    font-size: 40px;
    margin: 5px;
}