$color-fondo: rgb(247, 237, 227);
#header-container{
    background-color : $color-fondo;
}
.logo{
    font-family: 'Great Vibes', cursive;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
}
@media (min-width:992px) {
    #navbarNavAltMarkup{
        margin-left: 10px;
        display: flex;
        justify-content: end;
    }
}