//variables
    $width-turnos:100%;
    $color-label:black;
    $color-sombra:rgba(209, 204, 204, 0.24);
//funciones
    @mixin divTurnos-sizes(){
        height: auto;
        border: 1px solid black;
        text-align: center;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    @mixin body-grid($header,$main,$footer){
        grid-template-columns: 100%;
        grid-template-rows: $header $main $footer;
        grid-template-areas:
    
            "header"
            "main"
            "footer"
        ;
    }
/* comienzo main turnos */
.body-turnos{
    display: grid;
    @include body-grid(0.2fr,auto ,60px );
}
#main-turnos{
    grid-area: main;
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: auto 1fr auto ;
    grid-template-areas:
    
    "mimg "
    "form "
    "turnos"
    ;
    justify-content: center;
}
#turnos{
    grid-area: turnos;
    margin-top: 10px;
    width: $width-turnos;
    h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
}
@media (min-width:768px){
    #main-turnos{
        display: grid;
        grid-template-columns: 60% 0.7fr;
        grid-template-rows: auto ;
        grid-template-areas:

            "form turnos"
        ;
    }
} 
label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $color-label;
}
.form-input__textarea{
    display: flex;
    flex-direction: column;
}

.main-form{
    grid-area: form;
}
.turnos-disponibles{
    @include divTurnos-sizes();
}
.turnos-info{
    @include divTurnos-sizes();
}
.form-control{
    box-shadow: 2px 2px 2px 2px $color-sombra;
}
/* fin main trunos */