$color-fondo: #f9eedf3d;
$color-borde:rgba(128, 128, 128, 0.582);
$color-sombra:rgba(209, 204, 204, 0.24);
#header-servicios{
    background-color: $color-fondo;
    border-bottom: 1px solid $color-borde;
    box-shadow: 0px 2px 0px 0px $color-sombra;
}