@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400&family=Oswald:wght@300&family=Roboto:wght@300&display=swap");
* {
  background-color: #FFFAFC;
  margin: 0;
  padding: 0;
}

#header-container {
  background-color: rgb(247, 237, 227);
}

.logo {
  font-family: "Great Vibes", cursive;
}

.nav-link {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  #navbarNavAltMarkup {
    margin-left: 10px;
    display: flex;
    justify-content: end;
  }
}
#main-container {
  margin-bottom: 10px;
}

.main-img {
  grid-area: mimg;
  position: relative;
  text-align: center;
  height: 15rem;
}

.main-img__texto {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.main-img h2 {
  position: absolute;
  background-color: transparent;
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.08em 0.08em 0.08em rgba(1, 1, 1, 0.4);
}

.main-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .main-img {
    height: 22rem;
  }
  .main-img h2 {
    font-size: 3.5rem;
  }
}
.main-info {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  grid-template-areas: "min1 min1" "min2 min2" "mid mid";
}

.main-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.main-info__texto {
  text-align: center;
}

.main-info__nutricion1 {
  grid-area: min1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__nutricion2 {
  grid-area: min2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__descripcion {
  grid-area: mid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__img {
  width: 100% -25;
  height: 50%;
}

.main-info__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .main-info__nutricion1 {
    flex-direction: row;
  }
  .main-info__nutricion2 {
    flex-direction: row-reverse;
  }
  .main-info__descripcion {
    flex-direction: row;
  }
  .main-info__img {
    width: 50%;
    height: 100%;
    padding: 5px;
  }
  .main-info__texto {
    width: 50%;
  }
}
/* comienzo main turnos */
#main-turnos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "mimg " "form " "turnos";
}

#turnos {
  grid-area: turnos;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  #main-turnos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "mimg mimg" "form turnos";
  }
}
.form-input label {
  font-family: "Roboto", sans-serif;
}

.form-input__textarea {
  display: flex;
  flex-direction: column;
}

.main-form {
  grid-area: form;
}

/* fin main trunos */
#footer {
  background-color: #110A03;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-icono {
  background-color: transparent;
  color: #FFFAFC;
  font-size: 40px;
  margin: 5px;
}/*# sourceMappingURL=main.css.map */