@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFAFC !important;
  min-height: 100vh;
  position: relative;
}

#header-container {
  grid-area: header;
  background-color: #f9eedf;
}

.logo {
  font-family: "Great Vibes", cursive;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .nav-link:hover {
    font-size: 1.1rem;
    transition: font-size 0.5s;
  }
  #navbarNavAltMarkup {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
@-webkit-keyframes aparicionH2 {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
@keyframes aparicionH2 {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.main-img {
  grid-area: mimg;
  position: relative;
  text-align: center;
  height: 15rem;
}

.main-img__texto {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.main-img h2 {
  position: absolute;
  background-color: transparent;
  color: #f9eedf;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0.08em 0.08em 0.08em rgba(1, 1, 1, 0.4);
  -webkit-animation-name: aparicionH2;
          animation-name: aparicionH2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  font-family: "Montserrat", sans-serif;
}

.main-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .main-img {
    height: 22rem;
  }
  .main-img h2 {
    font-size: 3.5rem;
  }
}
.main-info {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  row-gap: 1rem;
  grid-template-areas: "min1 min1" "min2 min2" "mid mid";
}

.main-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-top: 10px;
  color: #d5693f;
  text-transform: uppercase;
}

.main-info__texto {
  text-align: center;
}

.main-info__nutricion1 {
  grid-area: min1;
  height: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__nutricion2 {
  grid-area: min2;
  height: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__descripcion {
  grid-area: mid;
  height: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.main-info__img {
  width: 95%;
  height: 60%;
}

.main-info__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .main-info__nutricion1 {
    flex-direction: row;
    height: 1fr;
  }
  .main-info__nutricion2 {
    flex-direction: row-reverse;
    height: 1fr;
  }
  .main-info__descripcion {
    flex-direction: row;
    height: 1fr;
  }
  .main-info__img {
    width: 50%;
    height: 100%;
    padding: 5px;
  }
  .main-info__texto {
    width: 50%;
  }
}
#header-secundario {
  background-color: rgba(249, 238, 223, 0.2392156863);
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
  box-shadow: 0px 2px 0px 0px rgba(209, 204, 204, 0.24);
}

/* comienzo main turnos */
.body-turnos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 60px;
  grid-template-areas: "header" "main" "footer";
}

#main-turnos {
  grid-area: main;
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "mimg " "form " "turnos";
  justify-content: center;
}

#turnos {
  grid-area: turnos;
  margin-top: 10px;
  width: 100%;
}
#turnos h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@media (min-width: 768px) {
  #main-turnos {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas: "form turnos";
  }
}
label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
}

.form-input__textarea {
  display: flex;
  flex-direction: column;
}

.main-form {
  grid-area: form;
}

.turnos-disponibles {
  height: auto;
  border: 1px solid black;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

.turnos-info {
  height: auto;
  border: 1px solid black;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* fin main trunos */
#footer {
  grid-area: footer;
  width: 100%;
  background-color: #110A03;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#footer a {
  background-color: #110A03;
  height: 99%;
}

.footer-icono {
  background-color: transparent;
  color: #FFFAFC;
  font-size: 40px;
  margin: 5px;
}/*# sourceMappingURL=main.css.map */